<div>
    <!--   Modals   -->
    <!--   New file name Dialog   -->
    <div id='modal-filename' class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <h5 class="modal-title">New Web Page</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Input Web Page file name</label>
                        <input type="text" data-ng-model='promptValue' class="form-control" placeholder="Enter html file name"> 
                        <small class="form-text text-danger text-bold">{{filenameModalStatus}}</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ng-click='addTab(promptValue)' class="btn btn-primary">Create!</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>